.post-title {
	font-size: 48px;
	font-weight: bolder;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post-content {
	font-size: 24px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
}

.posts {
	margin-left: auto;
	margin-right: auto;
}

.landing-page {
	background-color: #ececec;
	width: 100%;
	height: 60vh;
}

.post-meta {
	font-size: 22px;
	color: gray;
}

.author-date {
	float: right;
}

.post-author {
	font-weight: bold;
	color: teal;
}

.heading {
	color: darkgray;
	font-size: 72px;
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

.floating-button {
	display: flex;
	justify-content: center !important;
	align-items: center !important;
	border-radius: 50%;
	width: 72px;
	height: 72px;
	background: teal;
	position: fixed;
	bottom: 16px;
	right: 16px;
	box-shadow: 2px 2px 2px #ccc;
	z-index: 11;
}

.floating-button:hover {
	cursor: pointer;
	background: #008b8b;
}

::ng-deep .floating-button .dx-button-content {
	color: white;
	font-size: 24px;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

::ng-deep .dx-list-next-button .dx-button {
	height: 72px;
	width: 100%;
	background-color: teal;
	color: white;
	font-size: 24px;
	font-weight: bold;
}
::ng-deep .dx-list-next-button .dx-button:hover {
	background-color: darkcyan;
}

::ng-deep .dx-scrollview-content .dx-empty-message {
	font-size: 36px;
	font-weight: bold;
	height: 50vh;
	line-height: 50vh;
	color: gray;
	text-align: center;
}
