.header {
	width: 100%;
	height: 100px;
	background-color: teal;
}

h1 {
	color: white;
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

.sign-out {
	color: white;
	float: right;
}
