<div *ngIf="post" class="container">
	<div class="post col-sm-10">
		<p class="post-title">{{ post.title }}</p>
		<p class="post-author">
			By <span>{{ post.authorName }}</span>
		</p>
		<p class="post-date">
			{{ post.createdDateTime }}
		</p>
		<p class="post-content">
			{{ post.content }}
		</p>
		<div class="comment-box">
			<dx-text-area
				height="120px"
				placeholder="Write a response..."
				[maxLength]="180"
				[(value)]="comment"
			></dx-text-area>
			<dx-button
				text="Publish"
				type="normal"
				(onClick)="onSubmit($event)"
			></dx-button>
		</div>
		<div *ngIf="post.comments.length > 0" class="comment-list">
			<dx-list
				[dataSource]="post.comments"
				[focusStateEnabled]="false"
				[hoverStateEnabled]="false"
				[activeStateEnabled]="false"
			>
				<div *dxTemplate="let comment of 'item'">
					<div class="comment-card">
						<p class="comment-heading">
							By
							<span class="comment-author">{{
								comment.authorName
							}}</span>
							on
							<span class="comment-date">
								{{ comment.createdDateTime }}
							</span>
						</p>

						<p class="comment-content">{{ comment.content }}</p>
					</div>
				</div>
			</dx-list>
		</div>
	</div>
</div>
