.container {
	margin-left: auto;
	margin-right: auto;
}

.post {
	margin-top: 64px;
	margin-bottom: 48px;
	margin-left: auto;
	margin-right: auto;
}

.post-title {
	font-size: 48px;
	font-weight: bolder;
}

.post-author {
	color: gray;
	font-style: italic;
	font-size: 18px;
}

.post-date {
	color: gray;
	font-style: italic;
	font-size: 18px;
}

.post-content {
	font-size: 24px;
	margin-top: 24px;
}

.comment-box {
	margin-top: 24px;
	display: block;
	height: 200px;
	border-style: solid;
	border-width: 1px;
	border-color: #ececec;
	border-radius: 8px;
	box-shadow: 2px 2px 2px #ccc;
}
.comment-box dx-text-area {
	border: none;
	font-size: 24px;
}

.comment-box dx-button {
	margin-right: 24px;
	font-size: 24px;
	float: right;
}

.comment-card {
	border-style: solid;
	border-radius: 8px;
	border-width: 1px;
	border-color: #ececec;
	padding: 24px;
	box-shadow: 2px 2px 2px #ccc;
}

.comment-heading {
	font-style: italic;
}

.comment-author {
	color: teal;
	font-weight: bold;
	font-size: 18px;
}

.comment-content {
	font-size: 24px;
	white-space: normal;
}

::ng-deep .dx-list-item {
	border-top: none;
}

::ng-deep .dx-list-item-content {
	display: block;
	padding: 36px;
}
