.login-area {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.login-greet {
	text-align: center;
	margin: 24px;
}

.login-sub-area {
	margin-left: auto;
	margin-right: auto;
}
.login-name {
	width: 100%;
	font-size: 28px;
	height: 90px;
	margin: 16px;
}

.login-name /deep/ input[type='text'] {
	text-align: center;
}

.login-button {
	width: 100%;
	height: 60px;
	margin: 16px;
}
